/* display */

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
} 

.items-center{
    align-items: center;
}


/* margin & padding */

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.my-8 {
    margin: 2rem 0;
}
.mr-4{
    margin: 1rem;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}	

.p-12{
    padding: 3rem;
}
.p-4{
    padding: 1rem;
}

.mt-2{
    margin-top: 0.5rem;
}

.my-2{
    margin: 0.5rem 0;
}

.mt-4{
    margin-top: 1rem;
}

/* text-font,width,align*/

.text-center{
    text-align: center;
}


/* height-width */

.min-h-screen{
    min-height: 100vh;
}

.w-full{
    width: 100%;
}

.w-90 {
    width: 90%;
}	
.w-80 {
    width: 80%;
}	
.w-50{
    width: 50%;
}	

.w-12{
    width: 3rem;
}

.max-w-xs{
    max-width: 20rem;
}

.h-screen {
    height: 100vh;
}




/* border class */

.border{
    border-width: 1px;
}

.border-solid{
    border-style: solid;
}


/* form */

.input {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.input-bordered {
    border: 2px solid #4287f5;
    border-radius: 0.375rem;
    transition: border-color 0.3s;
}


.input-bordered:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); 
}